<div style="padding:30px;">
</div>
<h1>編輯文章</h1>

  <%= render "form", article: @article %>

  <br />
  <%= link_to '回候選人列表', articles_path , class:"btn btn-outline-secondary btn-lg btn-block" %>
  <br />