  <div class="p-1 bg-danger"></div>
  <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true">最新分享</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">吃喝玩樂去</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="false">服務中心</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="four-tab" data-toggle="tab" href="#four" role="tab" aria-controls="four" aria-selected="false">關注我們</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
      <div class="footService row  pl-5">
        <div class="col-sm">
        <h5>美食旅遊</h5>
  				<ol style="list-style-type:none;">
  					<li><a href="#" data-label="美食旅遊-餐廳">餐廳</a></li>								
  					<li><a href="#" data-label="美食旅遊-網購團購">網購團購</a></li>
  					<li><a href="#" data-label="美食旅遊-包裝食品">包裝食品</a></li>
  					<li><a href="#" data-label="美食旅遊-住宿">住宿</a></li>
  					<li><a href="#" data-label="美食旅遊-景點">景點</a></li>
  					<br />
  					<br />
  				</ol>
        </div>
        <div class="col-sm"> 
        <h5>娛樂藝文</h5>
  				<ol style="list-style-type:none;">								
  				  <li><a href="#" data-label="娛樂藝文-電影">電影</a></li>
  					<li><a href="#" data-label="娛樂藝文-書籍">書籍</a></li>
  				</ol>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
      <div class="footService row pl-5">
        <div class="col-sm">
        <h5>愛評特搜</h5>
  				<ol style="list-style-type:none;">
  					<li><a href="#" data-label="愛評特搜-地圖快搜">地圖快搜</a></li>								
  					<li><a href="#" data-label="愛評特搜-排行榜">排行榜</a></li>
  					<li><a href="#" data-label="愛評特搜-愛吃閃購">愛吃閃購</a></li>
  					<li><a href="#" data-label="愛評特搜-體驗券">體驗券</a></li>
  					<li><a href="#" data-label="愛評特搜-優惠/KoKo 回饋金">優惠/KoKo 回饋金</a></li>
  					<br />
  					<br />
  				</ol>
        </div>
        <div class="col-sm"> 
        <h5>愛評佈告欄</h5>
  				<ol style="list-style-type:none;">								
  				  <li><a href="#" data-label="愛評佈告欄-愛評公告">愛評公告</a></li>
  					<li><a href="#" data-label="愛評佈告欄-活動特區">活動特區</a></li>
  					<li><a href="#" data-label="愛評佈告欄-熱門話題">熱門話題</a></li>
  					<li><a href="#" data-label="愛評佈告欄-精選特輯">精選特輯</a></li>
  					<li><a href="#" data-label="愛評佈告欄-媒體情報">媒體情報</a></li>
  				</ol>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
      <div class="footService row pl-5">
        <div class="col-sm">
        <h5>關於愛評</h5>
  				<ol style="list-style-type:none;">
  					<li><a href="#" data-label="關於愛評-關於我們">關於我們</a></li>								
  					<li><a href="#" data-label="關於愛評-網站地圖">網站地圖</a></li>
  					<li><a href="#" data-label="關於愛評-服務條款">服務條款</a></li>
  					<li><a href="#" data-label="關於愛評-資訊安全政策">資訊安全政策</a></li>
  					<li><a href="#" data-label="關於愛評-線上徵才">線上徵才</a></li>
  					<li><a href="#" data-label="關於愛評-廣告服務">廣告服務</a></li>
  					<li><a href="#">合作提案</a></li>
  				</ol>
        </div>
        <div class="col-sm"> 
        <h5>會員專區</h5>
  				<ol style="list-style-type:none;">								
  				  <li><a href="#" data-label="會員專區-加入愛評網">加入愛評網</a></li>
  					<li><a href="#" data-label="會員專區-忘記密碼">會員專區-忘記密碼</a></li>
  				</ol>
        </div>
        <div class="col-sm"> 
        <h5 style="margin-top:5px;">愛評店家專區</h5>
  				<ol style="list-style-type:none;">								
  				  <li><a href="#" data-label="愛評店家專區-合作店家登入">合作店家登入</a></li>
  					<li><a href="#" data-label="愛評店家專區-加入合作店家">加入合作店家</a></li>
  					<li><a href="#">合作店家客服</a></li>
  					<li><a href="#">店家管理工具2.0</a></li>
  				</ol>
        </div>
        <div class="col-sm"> 
        <h5>建議與問題</h5>
  				<ol style="list-style-type:none;">								
  				  <li><a href="#" data-label="建議與問題-會員客服">會員客服</a></li>
  					<li><a href="#">活動客服</a></li>
  					<li><a href="#" data-label="建議與問題-愛評生活通APP客服">愛評生活通APP客服</a></li>
  				</ol>
        </div>
      </div>
    </div>
    <div class="tab-pane fade text-center m-5" id="four" role="tabpanel" aria-labelledby="four-tab">
      <div class="social align-middle"style="margin-top:20px;">   
        <a class="btn-fb " style="display:inline-block;  width:50px;  height:50px;  border-radius:50%;  font-size:35px; text-align: center;   color:#fff;   line-height:52px;   margin:0 15px; background:#4267B2;" 
        href="http://www.facebook.com/" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="btn-ig" style="display:inline-block;  width:50px;  height:50px;  border-radius:50%;  font-size:35px; text-align: center;  color:#fff;   line-height:52px;   margin:0 15px; background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);" 
        href="http://www.instagram.com/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="btn-line" style="display:inline-block;  width:50px;  height:50px;  border-radius:50%;  font-size:35px; text-align: center;  color:#fff;   line-height:52px;   margin:0 15px; background:#4BCD6C;" 
        href="https://line.me/ti/p/%40ntq4580m" target="_blank">
          <i class="fa fa-comment" data-text="LINE"></i>
        </a>
        <a class="btn-yb" style="display:inline-block;  width:50px;  height:50px;  border-radius:50%;  font-size:35px; text-align: center;  color:#fff;   line-height:52px;   margin:0 15px; background:#df1c31;" 
        href="http://www.youtube.com/" target="_blank">
          <i class="fa fa-youtube-play"></i>
        </a>
      </div>
    </div>
  </div>
  <br />
<div class="footCopyright text-center col-lg-12 pb-2">
		<div class="Copyright_logo"></div>
			<a href="/introduction.php" class="ga_tracking" data-category="New-footer" data-action="Click" data-label="客誠科技" data-http="/ad/blockclick.php?page=/newcmm/index.php&amp;block=footer&amp;key=39&amp;next=/introduction.php">客誠科技</a>&nbsp;版權所有&copy;2018 KeCheng Technology Ltd., All Rights Reserved.<br/>
			<span>本網站內會員言論僅代表個人觀點，不代表本站同意其說法，本站不承擔由該言論引起的法律責任</span>
			<p>著作權所有，請勿任意傳載本網站內容</p>
	</div>

<br />