  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maxmum-scale=1.0, width=device-width">
    <!--RWD必要的meta-->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  
<div class="card-group mt-3 pt-5">
  <div class="card">
    <img class="card-img-top" src="http://f.cl.ly/items/3u053r3Y3Y3S0w3q1R0x/diet.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">熱門美食</h5>
      <p class="card-text">中式料理.日式料理.亞洲料理.異國料理.燒烤類.鍋類.咖啡、簡餐、茶.素食.速食料理...</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 1 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://f.cl.ly/items/1U3u0C3k2H3Q0P1g0o10/globe.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">熱門旅遊</h5>
      <p class="card-text">一般住宿.特色住宿.自然/生態景點.歷史/人文景點.休閒/遊憩景點.室外運動.室內運動...</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 2 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://f.cl.ly/items/2a1i2a2A010n1M0d363M/shelter.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">熱門體驗</h5>
      <p class="card-text">台中外帶披薩【pizza running】雙人免費體驗.台北【愛的廚房】雙人免費體驗！......</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
<br/>

<div class="card-deck">
  <div class="card border-danger mb-3" style="width: 18rem;">
    <img class="card-img-top" src="http://f.cl.ly/items/0G1K3d19192d3B2k2C22/f134d400a7a8043b7cc047be0406e14b6af8bdd920180521110055.png" alt="Card image cap">
    <div class="card-body text-secondary">
      <h5 class="card-title">端午節必吃粽子！  特搜全台26家粽子名店，南北粽特色粽大公開</h5>
      <p class="card-text">端午節不吃粽子要吃什麼！吃粽子最應景，但該吃哪一間呢？特搜全台26家老字號、團購宅配必推名粽，不管是北部粽、南部粽、外省粽、客家粽、甜粽通通網羅。全年度最適合戰南北的時候到了，2018端午節粽子推薦保證打「粽」你的心！</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-secondary text-light">Go somewhere</a>
    </div>
  </div>
  
  <div class="card border-danger mb-3" style="width: 18rem;">
    <img class="card-img-top" src="http://f.cl.ly/items/1K0g3I1E2Y3N1b20003l/oie_485328AH0l5gAU.jpg" alt="Card image cap">
    <div class="card-body text-secondary">
      <h5 class="card-title">台灣茶藝博覽會</h5>
      <p class="card-text">現今，有越來越多人喜愛喝茶，但你對於喝好茶的認知又有多少呢？現場將集結台灣各地知名高山茶…等的優質商品，就等著你來茗品體驗。<br />
此次《台灣茶藝博覽會》將規劃展出《各地特色名茶》、《專業茶器》、《製茶設備》、《茶加工食品》、《佐茶美食》、《茶工藝文化》、《陶瓷藝品》、《世界養生茶》等多元主題，眾多展場獨家好康優惠只在台灣茶藝博覽會，絕不錯過！</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-secondary text-light">Go somewhere</a>
    </div>
  </div>
  
  <div class="card border-danger mb-3" style="width: 18rem;">
    <img class="card-img-top" src="http://f.cl.ly/items/3J1i1S1q1k3C3E3H2d0U/oie_4854117g2Ozm92.gif" alt="Card image cap">
    <div class="card-body text-secondary">
      <h5 class="card-title">台北國際素食養生展</h5>
      <p class="card-text">全球正掀起一陣素食風潮，各界領域之名人也紛紛推崇『素食主義』，但在吃素的同時，又要如何才能吃的健康及營養均衡呢？《台北國際素食養生展》將為各位愛好健康蔬食的消費者們帶來不同的素食新體驗，讓所有民眾不只吃的美味更能吃的健康。</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-secondary text-light">Go somewhere</a>
    </div>
  </div>
</div>
<br/>